.schedule {
  .schedule-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  .schedule-top {
    margin-top: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    .schedule-top__left {
      background: #F2F2F6;
      border-radius: 6px;
      padding: 2.5px 4px;
      margin-right: 20px;
    }
    .schedule-tab {
      width: 140px;
      height: 45px;
      color: #8c8d93;
      font-weight: 500;
      font-size: 20px;
      border: none;
      outline: none;
      background: transparent;
      &--active {
        color: #c31d28;
        font-weight: 700;
        background: #FFFFFF;
        box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
      }
    }
    .schedule-top--right {
      font-weight: 700;
      font-size: 18px;
    }
  }

  .schedule-item {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
    .schedule-item__left {
      //background: #c5e8ef;
      width: 100%;
      max-width: calc(30% - 16px);
    }
    .schedule-item__right {
      //background: #e6dbb9;
      //margin-top: 8px;
      width: 100%;
      max-width: calc(70% - 16px);
    }
    .schedule-item__title {
      font-weight: 700;
      font-size: 20px;
      color: #303030;
      //margin-bottom: 4px;
    }
    .schedule-item__genres {
      max-width: calc(100% - 36px);
      overflow-x: hidden;
    }
    .schedule-item__genre {
      color: #303030;
      opacity: .5;
      font-weight: 700;
      font-size: 16px;
      margin-right: 4px;
    }
    .schedule-item__age {
      width: 24px;
      min-width: 24px;
      height: 24px;
      min-height: 24px;
      background: #ffd362;
      border-radius: 4px;
      transform: rotate(45deg);
    }
    .schedule-item__age-text {
      font-weight: 700;
      font-size: 13px;
      color: #303030;
      transform: rotate(-45deg);
    }
    .schedule-item__duration {
      font-weight: 500;
      font-size: 14px;
      color: #303030;
    }
    .schedule-item__right__div {
      width: 118px;
      margin-right: 16px;
      margin-bottom: 8px;
    }
    .schedule-item__btn {
      border-radius: 3px;
      background: transparent;
      border: 1px solid #4E4E4E;
      color: #AAAAAA;
      font-weight: 700;
      font-size: 16px;
      height: 32px;
      &--active {
        background: #c31d28;
        border: none;
        color: white;
      }
    }
    .schedule-item__btn__hall {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.ant-picker, .ant-space, .ant-space-item {
  height: 45px;
}
.ant-tooltip{
  max-width: fit-content!important;
}
.schedule__item-right-item{
  display: none!important;
}
.ant-checkbox-inner{
  width: 30px!important;
  height: 30px!important;
}
.ant-checkbox-inner::after {
  left:33%!important;
}
.filters{
  align-items:center;
}
.schedule--item__unactive{
  display: none!important;
}
.time{
  font-size: 24px;
  font-weight: 700;
}
.payment{
  display: flex;
  align-items: center;

  &__label{
    margin-left: 20px;
    font-size:18px;
    font-weight: 700;
  }
}
